<form [formGroup]="form">
    <nz-input-group class="input-group w-full">
        <nz-form-label nzRequired>{{ 'services.driverId' | translate }}</nz-form-label>
        <nz-select formControlName="driverId" style="width: 100%;" nzShowSearch nzServerSearch
          nzPlaceHolder="{{ 'services.driverId' | translate }}" [nzShowArrow]="false" (nzOnSearch)="findDriver($event)">
          <nz-option *ngFor="let o of (drivers$ | async)" [nzLabel]="o.id + ' ' + '(' + o.firstName + ' ' + o.lastName.slice(0,1) + ')'"
            [nzValue]="o.id">
          </nz-option>
        </nz-select>
      </nz-input-group>

    <nz-input-group class="input-group w-full">
        <nz-form-label nzRequired>{{ 'balance_type' | translate }}</nz-form-label>
        <nz-select formControlName="balanceType" class="w-full">
            <nz-option nzLabel="{{'tirBalance' | translate}}" nzValue="tirgo"></nz-option>
            <nz-option nzLabel="{{'serviceBalance' | translate}}" nzValue="tirgo_service"></nz-option>
        </nz-select>
    </nz-input-group>

    <nz-input-group>
        <nz-form-label nzRequired>{{  'amount' | translate }} (TIR)</nz-form-label>
        <input nz-input type="text" formControlName="tirAmount" mask="separator.2">
    </nz-input-group>
    <div class="button-wrapper">
        <button nz-button class="success-button" [nzLoading]="loading" [disabled]="form.invalid" (click)="submit()">{{ 'save' | translate }}</button>
      </div>
</form>
