<div class="container-page">
    <div class="header-page">
        <h2>{{ "services.title" | translate }}</h2>
        <div class="button-group">
            <button nz-button class="success-button" (click)="getExcel()">
                <span nz-icon nzType="file-excel" nzTheme="fill"></span>
                {{ "excel" | translate }}
            </button>
            <button nz-button class="secondary-button" (click)="toggleFilter()">
                <span nz-icon nzType="filter" nzTheme="fill"></span>
                {{ "filter" | translate }}
            </button>
            <button nz-button class="success-button" (click)="addService()">
                <span nz-icon nzType="plus"></span>
                {{ "add" | translate }}
            </button>
        </div>
    </div>

    <div class="filter" [@showHideFilter]="isFilterVisible ? 'show' : 'hide'">
        <div>
            <nz-select style="width:250px" nzAllowClear="true" [(ngModel)]="filteredServiceId"
                (ngModelChange)="onServiceSelect($event)" nzPlaceHolder="{{ 'services.title' | translate }}">
                <nz-option [nzValue]="item.id" [nzLabel]="item.name"
                    *ngFor="let item of tabType ? uniqueServices1 : uniqueServices0">
                </nz-option>
            </nz-select>
        </div>

        <div>
            <nz-input-group class="input-group">
                <input [(ngModel)]="filter['id']" type="text" nz-input
                    placeholder="{{ 'services.serviceId' | translate }}" />
            </nz-input-group>
        </div>


        <div>
            <nz-input-group class="input-group">
                <input [(ngModel)]="filter['driverId']" type="text" nz-input
                    placeholder="{{ 'services.driverId' | translate }}" />
            </nz-input-group>
        </div>

        <div>
            <nz-select style="width:150px" nzAllowClear="true" [(ngModel)]="filter['statusId']"
                nzPlaceHolder="{{ 'status' | translate }}">
                <nz-option [nzValue]="status.id" [nzLabel]="status.name.toLowerCase() | translate"
                    *ngFor="let status of statuses">
                </nz-option>
            </nz-select>
        </div>

        <div>
            <nz-input-group class="input-group">
                <nz-date-picker style="min-width: 150px;" [(ngModel)]="filter['createdAtFrom']" type="date" nz-input
                    [nzAllowClear]="false" nzPlaceHolder="{{ 'date_creation_from' | translate }}"
                    class="custom-date-picker">
                </nz-date-picker>
            </nz-input-group>
        </div>

        <div>
            <nz-input-group class="input-group">
                <nz-date-picker style="min-width: 150px;" [(ngModel)]="filter['createdAtTo']" type="date" nz-input
                    [nzAllowClear]="false" nzPlaceHolder="{{ 'date_creation_to' | translate }}"
                    class="custom-date-picker">
                </nz-date-picker>
            </nz-input-group>
        </div>

        <button nz-button nzType="primary" class="search-button" (click)="getAll()">
            <span nz-icon nzType="search" nzTheme="outline"></span>
        </button>
        <button nz-button class="reset-button" (click)="resetFilter()">
            <span nz-icon nzType="reload" nzTheme="outline"></span>
        </button>
    </div>

    <div class="cards flex gap">
        <nz-card class="balance-card">
            <div class="card-inner">
                <div class="card-title">{{ 'tirBalance' | translate }}</div>
                <div class="card-content">
                    <span class="amount">{{tirBalance | priceFormat}}</span>
                    <span class="currency">TIR</span>
                </div>
            </div>
        </nz-card>
        <nz-card class="balance-card">
            <div class="card-inner">
                <div class="card-title">{{ 'serviceBalance' | translate }}</div>
                <div class="card-content">
                    <span class="amount">{{serviceBalance | priceFormat}}</span>
                    <span class="currency">TIR</span>
                </div>
            </div>
        </nz-card>
    </div>

    <nz-tabset (nzSelectedIndexChange)="onTabChange($event)">
        <nz-tab nzTitle="{{'services.title' | translate}}"></nz-tab>
        <nz-tab nzTitle="{{'kzPaidWay' | translate}}"></nz-tab>
    </nz-tabset>

    <nz-table #sortTable [nzData]="data" [nzLoading]="loader" [nzNoResult]="empty" [nzScroll]="{ x: 'max-content' }"
        [nzPaginationPosition]="'both'" [nzFrontPagination]="false" [nzPageSize]="pageParams.pageSize"
        [nzTotal]="totalItemsCount" [nzShowSizeChanger]="true" [nzShowPagination]="true"
        (nzQueryParams)="onQueryParamsChange($event)">
        <thead>
            <tr>
                <th>No</th>
                <th>{{ "services.serviceId" | translate }}</th>
                <th>{{ "services.serviceName" | translate }}</th>
                <th>{{ "services.driverId" | translate }}</th>
                <th>{{ "state_number_truck" | translate }}</th>
                <th>{{ "date_creation" | translate }}</th>
                <th>{{ "services.processingTime" | translate }}</th>
                <th>{{ "services.processingTimeEnd" | translate }}</th>
                <th>{{ "total" | translate }}</th>
                <th nzRight nzWidth="150px">{{ "status" | translate }}</th>
                <th nzRight></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of data; let i = index" (click)="showChatForService(item.chat.id)">
                <td>{{ i + 1 }}</td>
                <td>{{ item.id}} / {{ item.service.code}}</td>
                <td class="ellipsis">{{ item.service.name }}</td>
                <td>{{ item.driver.id }}</td>
                <td class="ellipsis">
                    <ng-container *ngIf="item.driver.driverTransports?.length; else noTransports">
                        <div *ngFor="let truck of item.driver.driverTransports">
                            {{ truck.transportNumber }}
                        </div>
                    </ng-container>
                    <ng-template #noTransports>
                        {{ "no_data" | translate }}
                    </ng-template>
                </td>
                <td>{{ item.createdAt | date : "dd.MM.yyyy HH:mm" }}</td>
                <td>{{ item.statusesHistory | createdAt : 3 | date : "dd.MM.yyyy HH:mm" }}</td>
                <td>{{ item.statusesHistory | createdAt : 5 | date : "dd.MM.yyyy HH:mm" }}</td>
                <td>
                    <div *ngIf="item.amountDetails && item.amountDetails.length > 0">
                        {{ calculateSum(item.amountDetails) | priceFormat }}
                    </div>
                    <div *ngIf="!item.amountDetails || item.amountDetails.length === 0">
                        {{ 'no_data' | translate }}
                    </div>
                </td>
                <td nzRight>
                    <span *ngIf="item.status.name.toLowerCase() !== 'priced'" class="status" [ngStyle]="{
                color: item.status.color,
                borderColor: item.status.color
              }">
                        {{ item.status.name.toLowerCase() | translate }}
                    </span>
                    <span *ngIf="item.status.name.toLowerCase() == 'priced'" class="status" [ngStyle]="{
                color: item.status.color,
                borderColor: item.status.color
              }">
                        {{ item.status.name.toLowerCase() | translate }}
                    </span>
                </td>
                <td class="action-col" nzRight (click)="$event.stopPropagation()">
                    <a nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
                        <i nz-icon nzType="ellipsis" nzTheme="outline" style="cursor: pointer"></i>
                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu nzSelectable>
                            <li nz-menu-item (click)="showDetails(item)">
                                <div class="dropdown-menu">
                                    <span nz-icon nzType="info-circle" nzTheme="outline"></span>
                                    <span>{{ "detail" | translate }}</span>
                                </div>
                            </li>

                            <li nz-menu-item (click)="showLog(item.id)">
                                <div class="dropdown-menu">
                                    <span nz-icon nzType="history" nzTheme="outline"></span>
                                    <span>{{ "services.log" | translate }}</span>
                                </div>
                            </li>
                        </ul>
                    </nz-dropdown-menu>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>

<ng-template #empty>
    <nz-empty></nz-empty>
</ng-template>


<app-chat *ngIf="showChat" [outputServiceId]="selectedServiceId" (closeChatEvent)="onChatClose()">
</app-chat>