<div class="header-page">
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            <a routerLink="/services">{{ 'services.title' | translate }}</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>{{ 'services.log' | translate }} </nz-breadcrumb-item>
    </nz-breadcrumb>

    <div class="info">
        <div> <b> {{ "services.serviceId" | translate }}:</b>  {{serviceId}}</div>
        <div> <b>{{ "driver" | translate }}:</b>  {{data?.driver.firstName}} {{data?.driver.lastName.slice(0,1)}}. ({{ data?.driver.id }}) </div>
    </div>
</div>

<nz-table #sortTable [nzData]="data?.statusesHistory" [nzLoading]="loading" [nzShowPagination]="false">
    <thead>
        <tr>
            <th>{{ "date" | translate }}</th>
            <th>{{ "status" | translate }}</th>
            <th>{{'services.operator' | translate}}</th>
        </tr>
    </thead>

    <tbody>
        <ng-container *ngIf="data">
            <tr *ngFor="let item of data?.statusesHistory; let i = index">
                <td>{{ item.createdAt | date : "dd.MM.yyyy HH:mm" }}</td>
                <td>
                    <span class="status" [ngStyle]="{
                        color: item.status.color,
                        borderColor: item.status.color
                      }">
                        {{ item.status.name.toLowerCase() | translate }}
                    </span>
                </td>
                <td>
                    <div *ngIf="item.createdBy.staff">{{item?.createdBy?.staff?.fullName}}</div>
                    <div *ngIf="!item.createdBy.staff">{{ item.createdBy.userType == 'driver' ? ('driver' | translate) : ('driver_merchant' | translate)}}</div>
                     </td>
            </tr>
        </ng-container>

    </tbody>
</nz-table>