<form [formGroup]="form">
    <nz-input-group class="input-group w-full">
        <nz-form-label>{{ 'searchAs' | translate }}</nz-form-label>
        <nz-select style="width: 100%;" nzPlaceHolder="{{ 'searchAs' | translate }}" formControlName="searchAs">
            <nz-option nzValue="driverId" nzLabel="ID"></nz-option>
            <nz-option nzValue="phoneNumber" nzLabel="Телефон"></nz-option>
            <nz-option nzValue="transportNumber" nzLabel="Номер транспорта"></nz-option>
        </nz-select>
    </nz-input-group>

    <nz-input-group class="input-group w-full">
        <nz-form-label nzRequired>{{ 'driver' | translate }}</nz-form-label>
        <nz-select style="width: 100%;" nzShowSearch nzServerSearch nzPlaceHolder="{{ 'driver' | translate }}"
            [nzShowArrow]="false" formControlName="driverId" (nzOnSearch)="findDriver($event)">
            <nz-option *ngFor="let o of (drivers$ | async)" [nzLabel]="o | label: form.get('searchAs')?.value"
                [nzValue]="o.id">
            </nz-option>
        </nz-select>
    </nz-input-group>

    <nz-input-group class="input-group w-full" *ngIf="form.value.driverId">
        <nz-form-label nzRequired>{{ 'gsm.cardNumber' | translate }}</nz-form-label>
        <input nz-input type="text" formControlName="gsmCardNumber" readonly>
        <span *ngIf="!form.value.gsmCardNumber" style="color: red;">{{'У водителя нет ГСМ карты' | translate}}</span>
    </nz-input-group>

    <nz-input-group class="input-group w-full" *ngIf="form.value.gsmCardNumber">
        <nz-form-label nzRequired>{{ 'volume_l' | translate }}</nz-form-label>
        <input nz-input type="text" formControlName="amount" mask="separator.2">
    </nz-input-group>


    <div class="button-wrapper">
        <button [nzLoading]="loading" nz-button class="success-button" [disabled]="form.invalid || loading" (click)="onSubmit()">
            {{ 'save' | translate }}
        </button>
    </div>
</form>