<div class="container-page">

    <div class="header-page">
        <h2>{{ "gsm.title" | translate }}</h2>
        <div class="button-group">
            <button nz-button class="secondary-button" (click)="toggleFilter()">
                <span nz-icon nzType="filter" nzTheme="fill"></span>
                {{ "filter" | translate }}
            </button>
            <button nz-button class="success-button" (click)="topUpBalance()">
                {{ "top_up_balance" | translate }}
            </button>
        </div>
    </div>
    <div class="cards flex gap">
        <nz-card class="balance-card">
            <div class="card-inner">
                <div class="card-title">{{ 'gsm.balance' | translate }}</div>
                <div class="card-content">
                    <span class="amount">
                        <span>{{ gsmBalance | priceFormat }}</span>
                    </span>
                    <span class="currency">(литр)</span>
                </div>
            </div>
        </nz-card>
    </div>
    <div class="filter" [@showHideFilter]="isFilterVisible ? 'show' : 'hide'">
        <div>
            <nz-input-group class="input-group">
                <input [(ngModel)]="filter['driverId']" type="text" nz-input
                    placeholder="{{ 'services.driverId' | translate }}" />
            </nz-input-group>
        </div>
        <div>
            <nz-select nzAllowClear="true" [(ngModel)]="filter['statusId']" nzPlaceHolder="{{ 'status' | translate }}">
                <nz-option nzValue="requests" [nzLabel]="'requests' | translate"></nz-option>
                <nz-option nzValue="approve" [nzLabel]="'approve' | translate"></nz-option>
                <nz-option nzValue="reject" [nzLabel]="'reject' | translate"></nz-option>
            </nz-select>
        </div>

        <div>
            <nz-input-group class="input-group">
                <nz-date-picker [(ngModel)]="filter['createdAtFrom']" type="date" nz-input [nzAllowClear]="false"
                    nzPlaceHolder="{{ 'date_creation' | translate }}" class="custom-date-picker">
                </nz-date-picker>
            </nz-input-group>
        </div>

        <div>
            <nz-input-group class="input-group">
                <nz-date-picker [(ngModel)]="filter['createdAtTo']" type="date" nz-input [nzAllowClear]="false"
                    nzPlaceHolder="{{ 'date_creation' | translate }}" class="custom-date-picker">
                </nz-date-picker>
            </nz-input-group>
        </div>

        <button nz-button nzType="primary" class="search-button" (click)="getAll()">
            <span nz-icon nzType="search" nzTheme="outline"></span>
        </button>
        <button nz-button class="reset-button" (click)="resetFilter()">
            <span nz-icon nzType="reload" nzTheme="outline"></span>
        </button>
    </div>

    <nz-tabset (nzSelectedIndexChange)="onTabChange($event)">
        <nz-tab nzTitle="{{ 'requests' | translate }}">
            <nz-table #sortTable [nzData]="data" [nzLoading]="loader" [nzNoResult]="empty" [nzFrontPagination]="false"
                [nzPaginationPosition]="'both'" [nzPageSize]="pageParams.pageSize" [nzTotal]="totalItemsCount"
                [nzShowSizeChanger]="true" [nzShowPagination]="true" (nzQueryParams)="onQueryParamsChange($event)">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>{{ "type" | translate }}</th>
                        <th>{{'services.operator' | translate}}</th>
                        <th>{{'driver' | translate}}</th>
                        <th>{{'volume_l' | translate}}</th>
                        <th>{{ "date_creation" | translate }}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of data; let i = index">
                        <td>{{i+1}}</td>
                        <td>
                            <span [ngStyle]="{
      'color': item.isRejected ? 'red' : item.isVerified ? 'green' : 'blue' }">
                                {{ item.isRejected ? ('rejected'|translate) : item.isVerified ? ('accepted' |translate)
                                :
                                ('request' |translate) }}
                            </span>
                        </td>
                        <td>
                            {{ item.rejectedBy?.fullName ? item.rejectedBy.fullName : item.verifiedBy?.fullName ?
                            item.verifiedBy.fullName : '' }}
                        </td>
                        <td>{{'('+item.driverId+') ' + item.driverFullName}}</td>
                        <td>{{item.amount | priceFormat}}</td>
                        <td>{{item.createdAt | date : "dd.MM.yyyy HH:mm"}}</td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-tab>
        <nz-tab nzTitle="{{ 'topUp' | translate }}">
            <nz-table #sortTable [nzData]="data" [nzLoading]="loader" [nzNoResult]="empty" [nzFrontPagination]="false"
                [nzPaginationPosition]="'both'" [nzPageSize]="pageParams.pageSize" [nzTotal]="totalItemsCount"
                [nzShowSizeChanger]="true" [nzShowPagination]="true" (nzQueryParams)="onQueryParamsChange($event)">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>{{'volume_l' | translate}}</th>
                        <th>{{ "date_creation" | translate }}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of data; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{item.amount | priceFormat}}</td>
                        <td>{{item.createdAt | date : "dd.MM.yyyy HH:mm"}}</td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-tab>
    </nz-tabset>

</div>

<ng-template #empty>
    <nz-empty></nz-empty>
</ng-template>